.photo-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  width: calc(100% - 2 * 48px);
  margin: 0 auto;
  padding: 0 0 12px 0;
  }

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1020px) {
  .photo-grid {
    padding: 0 0 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 720px) {
  .photo-grid {
    gap: 12px;
    grid-template-columns: 1fr;
    width: calc(100% - 2 * 16px);
  }
}
