.root {
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  max-width: 1280px;
  margin: auto;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: center;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  width: calc(100% - 2 * 48px);
  align-items: center;
}

.header__links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 18px;
}

.header__lang-link {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link_active {
  text-decoration-line: underline;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2 * 148px);
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  width: 80%;
  margin: 56px 0 32px 0;
  text-align: center;
}

.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 64px 0;
  width: 55%;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
}

.intro {
  width: calc(100% - 2 * 148px);
}

.intro__title {
  margin: 114px 0 40px 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  max-width: 690px;
}

.intro__list {
  list-style-type: none;
  margin: 33px 0 92px 0;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.intro__list-amounts {
  font-weight: normal;
}

.photo-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  width: calc(100% - 2 * 48px);
  margin: 0 auto;
  padding: 0 0 12px 0;
}

.photo-grid__item {
  width: 100%;
}

.places {
  width: calc(100% - 2 * 148px);
  padding-bottom: 92px;
}

.place {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  margin: 80px 0 0 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__img {
  width: 460px;
  height: 460px;
}

.place__url {
  place-self: end start;
}

.place__url-word {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0 0 12px 0;
}

.place__url-link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.5s;
}

.place__url-link:hover {
  opacity: 0.8;
}

.place__text {
  font-size: 18px;
  line-height: 163%;
}

.place__text :not(:last-child) {
  margin: 0 0 26px 0;
}

.place__text :last-child {
  margin: 0;
}

.cover {
  width: calc(100% - 2 * 48px);
}

.cover__link {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 740px;
}

.cover__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.8;
  transition: opacity 1.5s;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cover__link:hover :last-child {
  opacity: 0.3;
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  margin: 0 0 32px 0;
  z-index: 1;
}

.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  margin: 0;
  z-index: 1;
}

.footer {
  width: calc(100% - 2 * 48px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 92px;
  padding-bottom: 24px;
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: start;
  gap: 18px;
}

.footer__link {
  text-decoration-line: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  opacity: 1;
  transition: opacity 0.5s;
}

.footer__link:hover {
  opacity: .8;
}

.footer__copiright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
