.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
