.header__lang-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 96%;
}

@media screen and (max-width: 720px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
