.cover {
  width: calc(100% - 2 * 48px);
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
